---
interface Props {
  firstClassdiv: string;
  secondClassdiv: string;
  text: string;
  numbers: string;
  num: string;
}

const { firstClassdiv, secondClassdiv, text, numbers, num } = Astro.props;
---

<div
  class={`${firstClassdiv} mx-0 my-4 h-[60px] rounded-[15px] py-0 px-4 flex place-items-center justify-between`}
>
  <div
    class={`${secondClassdiv} w-28 p-0 flex place-items-center justify-between`}
  >
    <slot />
    <p class="w-[70px]">{text}</p>
  </div>
  <p class={numbers}>{`${num}`} <span class="text-[#c8c7ff]">/ 100</span></p>
</div>
